<%= render component_tag(
  x: {
    data: "layout",
    bind: "bindings.root"
  },
  data: {status_bar: status_bar?.to_json}
) do %>
  <div id="app-header">
    <%= header %>
  </div>
  
  <% if pages.any? || previews.any? %>    
    <%=
      lb_pane_group("app-body", tag: :div, opts: body_split) do |body|
        body.with_pane do lb_pane_group("app-sidebar", opts: sidebar_split) do |sidebar|
            config.ui_nav_panels.each do |name|
              if name.to_sym == :previews
                sidebar.with_pane("previews-nav") do |pane|
                  pane.with_toolbar do |toolbar|
                    toolbar.with_label { config.previews_nav_label }
                    if previews.any?
                      toolbar.with_button_group do |group|
                        group.with_button(icon: :copy_minus, tooltip: "Collapse all", click: "$dispatch('nav:collapse-all', {id: 'previews-nav-tree'})")
                      end
                    end
                  end
                  previews_nav
                end
              end

              if name.to_sym == :pages && pages_nav?
                sidebar.with_pane("pages-nav") do |pane|
                  pane.with_toolbar do |toolbar|
                    toolbar.with_label { config.pages_nav_label }
                    if pages.any?
                      toolbar.with_button_group do |group|
                        group.with_button(icon: :copy_minus, tooltip: "Collapse all", click: "$dispatch('nav:collapse-all', {id: 'pages-nav-tree'})")
                      end
                    end
                  end
                  pages_nav
                end
              end
            end
          end 
        end
        body.with_pane { main }
      end
    %>
  <% else %>
    <%= main %>
  <% end %>

  <% if status_bar? %>
    <footer id="app-status-bar">
      <%= status_bar %>
    </footer>  
  <% end %>
<% end %>
