<%= lookbook_panel(**args, x: {data: "codePanel"}, data: {panel: "code"}) do |panel| %>
  <% panel.with_action do %>
    <sl-copy-button from="<%= copy_target_id %>"></sl-copy-button>
  <% end %>
  
  <div class="code-panel-code">
    <%= lookbook_code(language) { content } %>
  </div>
  <div id="<%= copy_target_id %>" class="code-panel-raw"><%= raw copy_source %></div>
<% end %>