<%
  # TODO - clean up breadcrumb generation
  breadcrumb_items = @page.lookup_path.split("/")
  breadcrumb_items.pop
%>

<lb-page title="<%= @page.title %>" id="<%= @page.lookup_hash %>">
  <lb-breadcrumb-nav slot="breadcrumb">
    <%= link_to lookbook_pages_path do %>
      <lb-icon name="notebook-text"></lb-icon>
    <% end %>

    <% breadcrumb_items.each do |item| %>
      <span><%= item.titleize %></span>
    <% end %>

    <span><%= @page.label %></span>
  </lb-breadcrumb-nav>

  <lb-button
    id="previous-page-link"
    href="<%= @previous_page&.url_path %>"
    slot="toolbar-previous"
    <%= " disabled" unless @previous_page.present? %>
  >
    <lb-icon name="chevron-left"></lb-icon>
    <lb-tooltip>Previous page</lb-tooltip>
  </lb-button>

  <lb-button
    id="next-page-link"
    href="<%= @next_page&.url_path %>"
    slot="toolbar-next"
    <%= " disabled" unless @next_page.present? %>
  >
    <lb-icon slot="end" name="chevron-right"></lb-icon>
    <lb-tooltip>Next page</lb-tooltip>
  </lb-button>

  <div><%== @page_content %></div>
</lb-page>
