<div class="px-4 md:px-10 pt-8 md:pt-12 overflow-auto scroll-smooth w-full max-h-full pb-12" x-ref="scroller">
  <div class="w-full max-w-3xl mx-auto h-full flex flex-col">
    <% if @page.header? %>
      <header class="mb-8 prose max-w-none flex-none">
        <h1><%= @page.title %></h1>
      </header>
    <% end %>

    <%= render_component :prose, markdown: false, class: "max-w-none flex-none" do %>
      <%= @page_content %>
    <% end %>
    
    <% if @page.footer? %>
      <footer class="flex items-center justify-between border-t border-gray-300 mt-12 pt-8 pb-10 ">
        <% if @previous_page %>
          <a href="<%= page_path @previous_page.lookup_path %>"
            class="flex items-center flex-none">
            <%= render_component :icon, :arrow_left, size: 4, class: "hover:text-indigo-800" %>
            <span class="ml-2 underline"><%= @previous_page.title %></span>
          </a>
        <% end %>

        <% if @next_page %>
          <a href="<%= page_path @next_page.lookup_path %>"
            class="flex items-center flex-none ml-auto">
            <span class="mr-2 underline"><%= @next_page.title %></span>
            <%= render_component :icon, :arrow_right, size: 4, class: "hover:text-indigo-800" %>
          </a>
        <% end %>
      </footer>
    <% end %>
  </div>
</div>
