<style>
  .panel {
    padding: var(--lb-panel-padding);
  }

  .placeholder {
    color: var(--lb-color-content-2);
    font-style: italic;
  }
</style>

<div class="panel">
  <% if target.params? %>
    <%= lb_table do |table| %>
      <% table.with_header do |header| %>
        <% header.with_cell("Name", collapse: true) %>
        <% header.with_cell("Param", collapse: true) %>
        <% header.with_cell("Description") %>
        <% header.with_cell("Editor") %>
      <% end %>

      <% target.params.each do |param| %>
        <% table.with_row do |row| %>
          <% row.with_cell(collapse: true) do %>
            <strong><%= param.label %></strong>
          <% end %>

          <% row.with_cell(collapse: true) do %>
            <code><%= param.name %></code>
          <% end %>

          <% row.with_cell do %>
            <%= param.description || raw("&mdash;") %>  
          <% end %>

          <% row.with_cell do %>
            <%= render Lookbook::UI::ParamEditor.new(param: param, value: request.query_parameters[param.name]) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <div class="placeholder">
      <p>No params configured.</p>
    </div>
  <% end %>
</div>  

