<style>
  .panel {
    padding: var(--lb-panel-padding);
  }

  .scenario + .scenario {
    margin-top: var(--lb-spacing-lg);
  }
</style>

<% usage = capture do %>
  <% target.scenarios.each do |scenario| %>
    <section class="scenario">  
      <%= lb_prose(size: :sm) do %>
      <% if target.scenarios.many? %>
        <h4><%= scenario.label %></h4>  
      <% end %>

        <%= scenario.notes %>

        ```<%= scenario.source_language %>
        <%= scenario.source %>
        ```
      <% end %>
    </section>
  <% end %>
<% end %>

<div class="panel" key="<%= checksum(usage) %>">
  <%= usage %>
</div>