<!DOCTYPE html>
<html lang="en" class="h-screen">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <link href="/lookbook-assets/css/app.css?v=<%= Lookbook::VERSION %>" rel="stylesheet">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👀</text></svg>">

  <% if config.auto_refresh %>
    <script>
      window.SOCKET_PATH = "<%= Lookbook::Engine.websocket_mount_path %>";
    </script>
  <% end %>
  <script src="/lookbook-assets/js/app.js?v=<%= Lookbook::VERSION %>" defer></script>
  
  <title><%= [@example&.label, @preview&.label, "Lookbook"].compact.join(" :: ") %></title>
</head>
<body class="text-gray-800 font-sans text-sm antialiased overflow-hidden">
  <div
    id="page"
    x-data="page"
    :style="`grid-template-columns: ${$store.sidebar.width}px 1px 1fr;`"
    @popstate.window="update"
    @resize.window="$store.layout.desktop = window.innerWidth >= $store.layout.desktopWidth"
    class="md:grid w-screen h-screen">
    <div class="h-full bg-gray-100 overflow-hidden" x-show="$store.layout.desktop || $store.sidebar.open" x-cloak>
      <%= render "app/sidebar" %>
    </div>
    <div
      x-data="splitter('vertical', {minSize: $store.sidebar.minWidth})"
      class="h-full gutter border-r border-gray-300 relative"
      x-show="$store.layout.desktop"
      x-effect="$store.sidebar.width = Math.min(splits[0] || $store.sidebar.width, $store.sidebar.maxWidth)"
      x-cloak
    >
      <div class="w-[9px] h-full bg-transparent hover:bg-indigo-100 hover:bg-opacity-20 transition absolute top-0 bottom-0 transform -translate-x-1/2 cursor-[col-resize] z-10"></div>
    </div>
    <main id="main" class="h-full overflow-hidden w-full" x-show="$store.layout.desktop || !$store.sidebar.open" x-cloak>
      <%= yield %>
    </main>
  </div>
</body>
</html>
