<%= render_component_tag :header do %>
  <%= render_component :toolbar, class: "!bg-lookbook-header !text-lookbook-header-text !border-lookbook-header-border" do |toolbar| %>
    <% toolbar.section padded: true do %>
      <% if branding.present? %>
        <a
          <% if landing_path %>href="<%= landing_path %>"<% end %>    
          class="text-sm truncate uppercase font-black tracking-wider text-lookbook-branding-text">
          <%= branding %>
        </a>
      <% end %>
    <% end %>

    <% toolbar.section padded: false, align: :right, class: "flex items-center" do %>
      <%= render_component :button_group do |group| %>
        <% if Rails.env.development? %>
          <% group.button icon: :help_circle, class: "opacity-50 hover:opacity-100 transition !text-lookbook-header-text" do |button| %>
            <% button.dropdown do %>
              <%= tag.div class: "divide-y divide-lookbook-divider min-w-[180px]" do %>
                <div class="px-3 py-3">
                  <ul class="space-y-2 opacity-80">
                    <li>
                      <a href="#"
                        class="text-xs flex items-center hover:underline"
                        x-data="clipboardComponent"
                        @click.prevent.stop="copyToClipboard('#debug-data')">
                        <span x-show="copied" x-cloak>
                          <%= render_component :icon,
                            name: :check,
                            size: 2.5,
                            class: "text-green-600" %>
                        </span>
                        <span x-show="!copied">
                          <%= render_component :icon,
                            name: :clipboard,
                            size: 2.5 %>
                        </span>
                        <span class="ml-2">Copy debug data</span>
                      </a>
                    </li>
                    <li>
                      <a href="#"
                        class="text-xs flex items-center hover:underline"
                        @click.stop="localStorage.clear(); window.location.reload();">
                        <%= render_component :icon, name: :refresh_cw, size: 2.5 %>
                        <span class="ml-2">Reset local storage</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="flex items-center text-xs px-3 py-2 bg-zinc-50">
                  <span class="opacity-70 mr-1">Lookbook</span>
                  <span class="mr-6">v<%= Lookbook::VERSION %></span>
                  <div class="flex items-center space-x-2">
                    <!-- a href="https://github.com/allmarkedup/lookbook" target="_blank" class="ml-auto opacity-70" title="Documentation">
                      <%= render_component :icon, name: :book, size: 3 %>
                    </a -->
                    <a href="https://github.com/allmarkedup/lookbook" target="_blank" class="ml-auto opacity-70" title="Github">
                      <%= render_component :icon, name: :github, size: 3 %>
                    </a>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <% group.button icon: :menu,
          "@click.stop": "toggleSidebar",
          x_show: "$store.layout.mobile && sidebarHidden",
          class: "!text-lookbook-header-text" %>
        <% group.button icon: :x,
          "@click.stop": "toggleSidebar",
          x_show: "$store.layout.mobile && !sidebarHidden",
          "@keydown.esc.window": "closeMobileSidebar",
          class: "!text-lookbook-header-text" %>
      <% end %>    
    <% end %>
  <% end %>
  
<% end %>