<%= render component_tag(x: {"data": "toolbar"}) do %>
  <div class="toolbar-section">
    <% if label? %>
      <h3 class="toolbar-label">
        <%= label %>
      </h3>
    <% end %>

    <% if breadcrumb? %>
      <div class="toolbar-breadcrumb">
        <%= breadcrumb %>
      </div>
    <% end %>

    <div class="toolbar-tab-group">
      <%= tab_group %>
    </div>
  </div>
  
  <div class="toolbar-section">
    <% if button_groups? %>
      <%= safe_join(button_groups) %>
    <% end %>
  </div>
<% end %>
