<%= render component_tag(x: {"data": "toolbar"}) do %>
  <div class="toolbar-section">
    <% if label? %>
      <h3 class="toolbar-label">
        <%= label %>
      </h3>
    <% end %>

    <% if breadcrumb? %>
      <div class="toolbar-breadcrumb">
        <%= breadcrumb %>
      </div>
    <% end %>

    
    <% if tab_group? %>
      <div class="toolbar-tab-group">
        <%= tab_group %>
      </div>  
    <% end %>
  </div>
  
  <div class="toolbar-section">
    <% if button_groups? %>
      <div class="toolbar-button-groups">
        <%= safe_join(button_groups) %>
      </div>
    <% end %>    
  </div>
<% end %>
