<%= render_component_tag :li, id: @item.id, class: "list-none", "x-show": "!filteredOut", cloak: true do %>
  
  <%= render_tag href.present? ? :a : :div,
    href: href,
    class: "flex items-center py-1 select-none cursor-pointer text-lookbook-nav-text hover:bg-lookbook-nav-item-hover",
    style: "padding-left: #{left_pad}px",
    x_bind: "bindings.#{href.present? ? "link" : "toggle"}" do %>
    <div class="relative flex items-center">
      <%= render_component :icon, name: "open ? 'chevron-down' : 'chevron-right'",
        size: 3,
        class: "mr-1 text-lookbook-nav-toggle absolute -left-4" if children? %>
      <%= render_component :icon, name: nav_icon(@item), size: 3.5, class: "mr-1.5 text-lookbook-nav-icon" %>
      <span><%= label %></span>
    </div>
  <% end %>
  
  <% if children? %>
    <ul x-ref="items" x-show="open" x-cloak>
      <%= safe_join(children) %>
    </ul>
  <% end %>  
<% end %>