---
layout: skeleton
---
<%
collection = resource.collection
nav_groups = site.data[collection.label.downcase.to_sym]&.nav&.groups || []
%>

<div class="layout-container !block md:!grid">
  <div class="layout-column bg-gray-50 !border-gray-300 !hidden md:!block overflow-y-scroll" data-turbo-maintain-scroll>
    <div id="sidebar" class="layout-content py-8 space-y-8">
      <% nav_groups.each do |group| %>
        <%= render LookbookDocs::NavGroup::Component.new(label: group[:label]) do |nav| %>
          <% group[:items].map do |item| %>
            <%
              item_id = item.is_a?(String) ? item : item.id
              target = collection.resources.find { |i| i.data.id == item_id }
            %>
            <% nav.item(label: target.data.label || target.data.title, href: target.relative_url ) if target %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="layout-column overflow-y-scroll h-full md:h-auto relative scroll-smooth">
    <main class="layout-content py-8 pb-32">
      <div class="lg:pr-[252px]">
        <% if resource.data.toc.many? %>
          <div class="hidden lg:block w-[220px] mr-[-252px] sticky top-8 float-right z-50">
            <%= render LookbookDocs::Toc::Component.new do |menu| %>
              <% resource.data.toc.each { menu.link(**_1) }%>
            <% end %>
          </div>
        <% end %>
        <div>
          <header class="mb-8 md:pb-8 md:border-b xl:border-gray-300">
            <div class="text-gray-500 mb-2">
              <%= resource.collection.metadata.title %> / 
              <%= current_section %>
            </div>
            <h1 class="text-4xl font-extralight text-indigo-600">
              <%== resource.data.title %>
            </h1>
          </header>
          <%= yield %>
        </div>
      </div>
    </main>
  </div>
</div>
