<%= render component_tag(x: {data: "statusBar"}) do %>
  <div class="status-bar-section">
    <span>Lookbook v<%= Lookbook.version %></span>
  </div>
  <div class="status-bar-section">
    <% if warnings.any? %>
      <%= lookbook_status_bar_item(label: pluralize(warnings.size, "warning"), theme: :warning) do |item| %>
        <% item.with_panel do %>
          <%= lookbook_notifications_popup(warnings) %>
        <% end %>
      <% end %>
    <% end %>
    <% if errors.any? %>
      <%= lookbook_status_bar_item(label: pluralize(errors.size, "error"), theme: :error) do |item| %>
        <% item.with_panel do %>
          <%= lookbook_notifications_popup(errors) %>
        <% end %>
      <% end %>
    <% end %>
    <% if warnings.none? && errors.none? %>
      <%= lookbook_status_bar_item(label: "No issues", theme: :success) %>  
    <% end %>
  </div>
<% end %>
