<%= render component_tag(x: {data: "statusBar"}) do %>
  <div class="status-bar-section">
    <span class="status-bar-info">Lookbook v<%= Lookbook.version %></span>
    
    <button class="status-bar-action" @click="reset">Reset UI</button>
  </div>
  <div class="status-bar-section">
    <% if warnings.any? %>
      <%= render Lookbook::UI::StatusBarItem.new(key: "status-bar-warnings", label: pluralize(warnings.size, "warning"), theme: :warning) do |item| %>
        <% item.with_panel do %>
          <%= render Lookbook::UI::StatusBarNotifications.new(notifications: warnings) %>
        <% end %>
      <% end %>
    <% end %>
    <% if errors.any? %>
      <%= render Lookbook::UI::StatusBarItem.new(key: "status-bar-errors", label: pluralize(errors.size, "error"), theme: :error) do |item| %>
        <% item.with_panel do %>
          <%= render Lookbook::UI::StatusBarNotifications.new(notifications: errors) %>
        <% end %>
      <% end %>
    <% end %>
    <% if warnings.none? && errors.none? %>
      <%= render Lookbook::UI::StatusBarItem.new(key: "status-bar-ok", label: "No issues", theme: :success) %>  
    <% end %>
  </div>
<% end %>
