<%= render_component_tag do %>
  <% if content %>
    <%== content %>
  <% else %>
    <%= render_component :tag,
      tag: (@href.present? ? :a : :div),
      href: @href,
      **@button_attrs,
      class: ["flex items-center px-4 py-2 cursor-pointer", @button_attrs[:class]] do %>
      <%= render_component :icon, name: @icon, size: 3, class: "mr-2" if @icon.present? %>
      <span><%= @label %></span>
    <% end %>
  <% end %>
<% end %>