<!DOCTYPE html>
<html lang="en" class="sl-theme-light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <script>
    window.UPDATE_EVENTS_ENDPOINT = "<%= updates_path %>"
  </script>

  <link href="<%= lookbook_asset_path("/app.css") %>" rel="stylesheet">
  <script src="<%= lookbook_asset_path("/app.js") %>" defer></script> 
  
  <title>Lookbook</title>
</head>
<body>  
  <%= lb_app do |layout| %>
    <% layout.with_header do %>
      <%= link_to @config.project_name, root_path %>
    <% end %>

    <% layout.with_sidebar do %>
      <%= render "sidebar", previews: @previews %>
    <% end %>

    <% layout.with_main do %>
      <%= content_for?(:main) ? yield(:main) : yield %>
    <% end %>    
  <% end %>
</body>
</html>