<%= content_for :body do %>

  <div
    id="app"
    x-data="app"
    @popstate.window="handleNavigation"
    @click.document="hijax"
    class="w-screen h-screen">
    <%= render_component :split_layout, "$store.layout.main" do |layout| %>

      <% layout.pane class: "flex flex-col bg-lookbook-sidebar-bg relative" do %>
      
        <%= render_component :toolbar do |toolbar| %>
          <% if config.project_name %>
            <% toolbar.section padded: true do %>
              <a
                href="<%= landing_path %>"
                class="text-xs truncate uppercase font-black tracking-wide pr-2 text-lookbook-branding-text">
                <%= config.project_name %>
              </a>
            <% end %>
          <% end %>
        <% end %>

        <%= render_component :split_layout, "$store.layout.sidebar" do |layout| %>
          <% layout.pane class: "overflow-hidden" do %>
            <%= render_component :nav, Lookbook.previews, "$store.nav.previews", {
              label: "Previews",
              collapse_singles: true
            } do |nav| %>
              <% nav.filter("$store.nav.previews.filter", placeholder: "Filter by preview name&hellip;") %>
            <% end %>
          <% end %>

          <% layout.pane class: "overflow-hidden" do %>
            <%= render_component :nav, Lookbook.pages, "$store.nav.pages", label: "Pages" %>
          <% end %>
        <% end %>

        <% if Lookbook::Preview.errors.any? %>
          <div x-data="{hidden: false}" class="flex-none border-t border-lookbook-divider absolute bottom-0 left-0 right-0" x-show="!hidden">
            <%= render_component :toolbar do |toolbar| %>
              <% toolbar.section padded: true, class: "flex items-center" do %>
                <%= render_component :icon, :alert_triangle, size: 4, class: "text-red-700" %>
                <span class="ml-2">Preview load errors</span>
              <% end %>
              <% toolbar.section align: :right do %>
                <% render_component :button, icon: :x, "@click": "hidden = !hidden" %>
              <% end %>
            <% end %>

            <div class="h-full max-h-[300px] overflow-hidden">
              <div class="bg-red-50 w-full overflow-auto h-full">
                <ul class="text-sm divide-y divide-red-200">
                  <% Lookbook::Preview.errors.each do |error| %>
                    <% error = error.is_a?(Lookbook::Error) ? error : Lookbook::Error.new(error) %>
                    <li class="px-4 py-3">
                      <h4 class="break-all leading-tight text-xs ">
                        <%= error.file_name %><%= ":#{error.line_number}" if error.line_number %>
                      </h4>
                      <pre class="text-red-800 text-xs mt-2 whitespace-pre-wrap opacity-80 font-mono"><%= error.message %></pre>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <% layout.pane class: "overflow-hidden" do %>
        <%= content_for?(:main) ? yield(:main) : yield %>
      <% end %>

    <% end %>
  </div>
<% end %>

<%= render template: "layouts/lookbook/skeleton" %>