<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="<%= lookbook_asset_path("/app.css") %>" rel="stylesheet">
  <script src="<%= lookbook_asset_path("/app.js") %>" defer></script> 
  
  <title>Lookbook</title>
</head>
<body>  
  <%= yield %>
  
  <script>
    const source = new EventSource("<%= updates_path %>");
    source.addEventListener("update", (event) => {
      location.reload()
    });
  </script>
</body>
</html>