<% content_for(:body) do %>
  <lb-router id="router" sse="/lookbook/events">
    <lb-app
      id="app"
      version="<%= Lookbook::VERSION %>"
      persist-as="app"
      homepath="<%= lookbook_path %>"
    >
      <svg viewBox="0 0 18 22" slot="logo">
        <g
          stroke="currentColor"
          stroke-width="1.5"
          fill="none"
          fill-rule="evenodd"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M3.5 1H17v20H3.5A2.5 2.5 0 0 1 1 18.5v-15A2.5 2.5 0 0 1 3.5 1Z"></path>

          <path
            d="M1.153 19.36c0-.737.261-1.188.596-1.57.417-.475.985-.79 1.751-.79H17M6.801 5.1v7.554L6.8 12.7h5.57"
          ></path>
        </g>
      </svg>

      <% @collections.each do |collection| %>
        <lb-button
          href="<%= lookbook_collection_path(collection) %>"
          appearance="text"
          slot="header-link"
        >
          <!-- lb-icon name="notebook-text"></lb-icon -->
          <%= collection.label %>
        </lb-button>
      <% end %>

      <% if @collection %>
        <lb-sidebar label="<%= @collection.label %>" icon="blocks" slot="sidebar">
          <lb-nav activepath="<%= url_for %>" slot="nav" persist-as="nav.<%= @collection.id %>">
            <lb-data slot="items" format="json" id="<%= @collection.id %>-data">
              <%== resources_nav_json(@collection.resources) %>
            </lb-data>

            <div slot="no-results">
              No previews match your filter.
            </div>

            <lb-blankslate icon="layers-2" slot="blank-slate">
              <p>It looks like you haven't created any items yet.</p>
            </lb-blankslate>
          </lb-nav>
        </lb-sidebar>
      <% else %>
        <lb-sidebar slot="sidebar"></lb-sidebar>
      <% end %>

      <%= yield %>
    </lb-app>
  </lb-router>
<% end %>

<% if fetch_request? %>
  <%= yield :body %>
<% else %>
  <%= render template: "layouts/lookbook/skeleton" %>
<% end %>
