<!DOCTYPE html>
<html lang="en" class="sl-theme-light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= lookbook_asset_tags("app") %>
  
  <title>Lookbook</title>
</head>
<body>
<%= lookbook_router(@events_endpoint.to_json) do %>
  <%= lookbook_app do |layout| %>
    <% layout.with_header do %>
      <%= link_to @config.project_name, root_path %>
    <% end %>

    <% layout.with_sidebar do |sidebar| %>
      <% sidebar.with_previews_nav(@inspector.nav_tree) %>
      <% sidebar.with_pages_nav(@docs.nav_tree) %>
    <% end %>

    <% layout.with_main do %>
      <%= content_for?(:main) ? yield(:main) : yield %>
    <% end %>    
  <% end %>
<% end %>
</body>
</html>