<%= content_for(:body) do %>
  <div
    id="app"
    x-data
    x-on:fetch-update.window="
      $ajax(window.location.pathname, {
        target: `main`,
        sync: true
      })
    ">
    <header role="banner" id="header">
      <%= Partial :topbar %>
    </header>

    <main id="main" x-merge="morph">
      <%= yield :main %>
    </main>
    
    <footer role="banner" id="footer">
      <%= Partial :statusbar %>
    </footer>
  </div>
<% end %>

<%= render template: "layouts/lookbook/skeleton" %>
