<!DOCTYPE html>
<html lang="en" class="sl-theme-light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <% if @events_endpoint %>
    <script>
      LOOKBOOK_SSE_ENDPOINT = "<%= @events_endpoint %>";
    </script>
  <% end %> 

  <link href="<%= lookbook_asset_path("/app.css") %>" rel="stylesheet">
  <script src="<%= lookbook_asset_path("/app.js") %>" defer></script> 
  
  <title>Lookbook</title>
</head>
<body>
  <%= lookbook_app_layout do |layout| %>
    <% layout.with_header do %>
      <%= link_to @config.project_name, root_path %>
    <% end %>

    <% layout.with_sidebar do |sidebar| %>
      <%= sidebar.with_previews_nav(@inspector.nav_tree) %>
    <% end %>

    <% layout.with_main do %>
      <%= content_for?(:main) ? yield(:main) : yield %>
    <% end %>    
  <% end %>
</body>
</html>