<!DOCTYPE html>
<html lang="en" class="sl-theme-light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="<%= lookbook_asset_path("/app.css") %>" rel="stylesheet">
  <script src="<%= lookbook_asset_path("/app.js") %>" defer></script> 
  
  <title>Lookbook</title>
</head>
<body>
  <div id="app">
    <header id="app-header">
      <%= @config.project_name %>
    </header>

    <main id="app-main">
      <sl-split-panel
        id="app-sidebar-layout"
        primary="start"
        :position="sidebarPosition"
        x-data="{sidebarPosition: $persist(20)}"
        @sl-reposition="sidebarPosition = $el.position">
        <div slot="start" id="app-sidebar">
          <%= render "sidebar", previews: @previews %>
        </div>
        <div slot="end" id="app-content">
          <%= yield %>
        </div>
      </sl-split-panel>
    </main>
  </div>
  
  <script>
    const source = new EventSource("<%= updates_path %>");
    source.addEventListener("update", (event) => {
      location.reload()
    });
  </script>
</body>
</html>