<% content_for :sidebar do %>
  <lb-sidebar label="<%= @collection.label %>" icon="blocks" slot="sidebar">
    <lb-nav activepath="<%= url_for %>" slot="nav" persist-as="nav.<%= @collection.id %>">
      <lb-data slot="items" format="json" id="<%= @collection.id %>-data">
        <%== collection_nav_json(@collection, @resources) %>
      </lb-data>

      <div slot="no-results">
        No previews match your filter.
      </div>

      <lb-blankslate icon="layers-2" slot="blank-slate">
        <p>It looks like you haven't created any previews yet.</p>
      </lb-blankslate>
    </lb-nav>
  </lb-sidebar>
<% end %>

<%= render template: "layouts/lookbook/application" %>
