<!DOCTYPE html>
<html lang="en" class="sl-theme-light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="<%= lookbook_asset_path("/app.css") %>" rel="stylesheet">
  <script src="<%= lookbook_asset_path("/app.js") %>" defer></script> 
  
  <title>Lookbook Debug</title>
</head>
<body>
  <%= yield %>
</body>
</html>