<%= content_for :body do %>
  <div
    id="app"
    x-data="app"
    x-cloak
    @popstate.window="handleNavigation"
    @click.document="hijax"
    class="relative p-1">

    <% if content_for? :user_styles %>
      <style media="all" id="user-styles">
        <%= content_for :user_styles -%>
      </style>
    <% end %>

    <%= content_for?(:shell) ? yield(:shell) : yield %>

    <script src="/lookbook-assets/js/embed.js?v=<%= Lookbook.version %>"></script>
  </div>
<% end %>

<%= render template: "layouts/lookbook/skeleton" %>