<!DOCTYPE html>
<html lang="en" data-color-scheme="light" data-theme="<%= @lookbook.config.ui_theme %>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= lookbook_asset_tags("page") %>
  
  <title><%= @lookbook.config.project_name %> | <%= @page.title %></title>
</head>
<body>
  <%= yield %>
</body>
</html>