<!DOCTYPE html>
<html lang="en" class="lookbook-theme-light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= lookbook_asset_tags("page") %>
  
  <title><%= @config.project_name %> | <%= @page.title %></title>
</head>
<body>
  <%= yield %>
</body>
</html>