<%= content_for :body do %>
  <div
    id="app"
    x-data="app"
    @popstate.window="handleNavigation"
    @click.document="hijax"
    @navigation:start="closeMobileSidebar"
    class="w-screen h-screen grid grid-rows-[40px_1fr] relative">

    <% if content_for? :panel_css %>
      <style media="all" id="panel-styles">
        <%= content_for :panel_css -%>
      </style>
    <% end %>

    <%= lookbook_render :header, id: "app-header", debug_menu: config.debug_menu do |header| %>
      <% header.branding { config.project_name } %>
    <% end %>

    <%= content_for?(:shell) ? yield(:shell) : yield %>
  </div>
<% end %>

<%= render template: "layouts/lookbook/skeleton" %>