<%= content_for :body do %>
  <div
    id="app"
    x-data="app"
    x-cloak
    @popstate.window="handleNavigation"
    @click.document="hijax"
    @navigation:start="closeMobileSidebar"
    class="w-screen h-screen grid grid-rows-[40px_1fr] relative">

    <% if content_for? :user_styles %>
      <style media="all" id="user-styles">
        <%= content_for :user_styles -%>
      </style>
    <% end %>

    <%= lookbook_render :header, id: "app-header", debug_menu: @config.debug_menu do |header| %>
      <% header.with_branding { @config.project_name } %>
    <% end %>

    <%= content_for?(:shell) ? yield(:shell) : yield %>
  </div>
<% end %>

<%= render template: "layouts/lookbook/skeleton" %>