<!DOCTYPE html>
<html lang="en" color-scheme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <%= csrf_meta_tags %>

  <%= javascript_include_tag lookbook_script_url, type: "module", defer: true %>
  <%= content_for :scripts %>

  <%= stylesheet_link_tag lookbook_stylesheet_url %>
  <%= content_for :styles %>
  
  <title>Lookbook</title>
</head>
<body>
  <%= content_for?(:body) ? yield(:body) : yield %>
</body>
</html>
