<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
      rel="icon"
      href="<%= lookbook_asset_path("favicons/on-dark.svg") %>"
      media="(prefers-color-scheme: dark)"
    >

    <link
      rel="icon"
      href="<%= lookbook_asset_path("favicons/on-light.svg") %>"
      media="(prefers-color-scheme: light)"
    >

    <meta name="apple-mobile-web-app-title" content="Lookbook">

    <link rel="manifest" href="<%= lookbook_asset_path("site.webmanifest") %>">

    <%= csrf_meta_tags %>

    <% lookbook_scripts.each do |script_url| %>
      <%= javascript_include_tag script_url, type: "module", defer: true %>
    <% end %>

    <%= content_for :scripts %>

    <% lookbook_stylesheets.each do |stylesheet_url| %>
      <%= stylesheet_link_tag stylesheet_url %>
    <% end %>

    <%= content_for :styles %>

    <title><%= "#{content_for(:title).strip} :: " if content_for?(:title) %>Lookbook</title>
  </head>

  <body><%= content_for?(:body) ? yield(:body) : yield %></body>
</html>
