<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="preview" content="width=device-width, initial-scale=1.0">

    <link
      rel="icon"
      type="image/png"
      href="<%= lookbook_asset_path("favicon-96x96.png") %>"
      sizes="96x96"
    >

    <link rel="icon" type="image/svg+xml" href="<%= lookbook_asset_path("favicon.svg") %>">
    <link rel="shortcut icon" href="<%= lookbook_asset_path("favicon.ico") %>">

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="<%= lookbook_asset_path("apple-touch-icon.png") %>"
    >

    <meta name="apple-mobile-web-app-title" content="Lookbook">

    <link rel="manifest" href="<%= lookbook_asset_path("site.webmanifest") %>">

    <% if false %>
      <link
        rel="icon"
        href="<%= lookbook_asset_path("favicons/on-dark.svg") %>"
        media="(prefers-color-scheme: dark)"
      >
      <link
        rel="icon"
        href="<%= lookbook_asset_path("favicons/on-light.svg") %>"
        media="(prefers-color-scheme: light)"
      >
    <% end %>

    <%= csrf_meta_tags %>

    <% lookbook_scripts.each do |script_url| %>
      <%= javascript_include_tag script_url, type: "module", defer: true %>
    <% end %>

    <%= content_for :scripts %>

    <% lookbook_stylesheets.each do |stylesheet_url| %>
      <%= stylesheet_link_tag stylesheet_url %>
    <% end %>

    <%= content_for :styles %>

    <title><%= "#{content_for(:title).strip} :: " if content_for?(:title) %>Lookbook</title>
  </head>

  <body><%= content_for?(:body) ? yield(:body) : yield %></body>
</html>
