<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <link href="/lookbook-assets/css/lookbook.css?v=<%= Lookbook::VERSION %>" rel="stylesheet">
  <% if @theme_css %>
    <style><%== @theme_css %></style>
  <% end %>

  <% if config.ui_favicon != false %>
    <link rel="icon" href="<%= config.ui_favicon || "data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👀</text></svg>" %>">
  <% end %>

  <script>
    window.LOG_LEVEL = <%= Lookbook::Engine.log_level %>;
    <% if Lookbook::Engine.websocket %>
    window.SOCKET_PATH = "<%= Lookbook::Engine.websocket_mount_path %>";
    <% end %>
  </script>
  
  <script src="/lookbook-assets/js/lookbook.js?v=<%= Lookbook.version %>" defer></script>
  <% if params[:lookbook_embed] %>
    <script src="/lookbook-assets/js/embed.js?v=<%= Lookbook.version %>" defer></script>
  <% end %>
  
  <title><%= [@title, config.project_name || "Lookbook"].compact.join(" :: ") %></title>
</head>
<body class="theme-<%= config.ui_theme %>">
  <%= yield :body %>
</body>
</html>
