<!DOCTYPE html>
<html lang="en" class="h-screen">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <link href="/lookbook-assets/css/app.css?v=<%= Lookbook::VERSION %>" rel="stylesheet">
  <% if config.ui_favicon != false %>
    <link rel="icon" href="<%= config.ui_favicon || "data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👀</text></svg>" %>">
  <% end %>

  <% if Lookbook::Engine.websocket %>
    <script>
      window.SOCKET_PATH = "<%= Lookbook::Engine.websocket_mount_path %>";
    </script>
  <% end %>
  <script src="/lookbook-assets/js/app.js?v=<%= Lookbook.version %>" defer></script>
  <% if params[:lookbook_embed] %>
    <script src="/lookbook-assets/js/embed.js?v=<%= Lookbook.version %>" defer></script>
  <% end %>
  
  <title><%= @example ? [@example&.label, @preview&.label, "Lookbook"].compact.join(" :: ") : "Lookbook" %></title>
</head>
<body class="text-gray-800 font-sans text-sm antialiased overflow-hidden">
  <%= yield :body %>
</body>
</html>
