<!DOCTYPE html>
<html lang="en" data-color-scheme="<%= cookies["lookbook-color-scheme"] || "light" %>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="data:image/svg+xml,%3Csvg%20viewBox%3D%270%200%20167%20204%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cg%20fill%3D%27%23FFF%27%20fill-rule%3D%27nonzero%27%3E%3Cpath%20d%3D%27M157%200c5.523%200%2010%204.477%2010%2010v184c0%205.523-4.477%2010-10%2010H32.969C17%20204%203.687%20192.638.65%20177.554A9.97%209.97%200%200%201%200%20174c0-.512.011-1.017.033-1.516A33.115%2033.115%200%200%201%200%20171V33C0%2014.778%2014.758%200%2032.969%200H157Zm-10%20166H32.969c-8.292%200-12.22%202.22-12.871%206.606.79%206.424%206.253%2011.394%2012.87%2011.394H147v-18Zm0-146H32.969c-7.056%200-12.8%205.65-12.965%2012.689L20%2033v114.762c3.932-1.167%208.3-1.762%2012.969-1.762H147V20Z%27%2F%3E%3Cpath%20d%3D%27M64.022%20126c-4.107%200-7.304-1.143-9.591-3.428-2.287-2.285-3.431-5.48-3.431-9.583l.14-63.978c0-4.197%201.12-7.415%203.36-9.653C56.74%2037.119%2059.916%2036%2064.023%2036c4.2%200%207.398%201.12%209.592%203.358%202.193%202.238%203.29%205.456%203.29%209.653l-.14%2055.584h34.166c3.547%200%206.277.91%208.19%202.728%201.915%201.819%202.871%204.454%202.871%207.905%200%203.45-.956%206.109-2.87%207.974-1.914%201.865-4.644%202.798-8.191%202.798H64.022Z%27%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E" media="(prefers-color-scheme: dark)">
  <link rel="icon" href="data:image/svg+xml,%3Csvg%20viewBox%3D%270%200%20167%20204%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cg%20fill%3D%27%23222222%27%20fill-rule%3D%27nonzero%27%3E%3Cpath%20d%3D%27M157%200c5.523%200%2010%204.477%2010%2010v184c0%205.523-4.477%2010-10%2010H32.969C17%20204%203.687%20192.638.65%20177.554A9.97%209.97%200%200%201%200%20174c0-.512.011-1.017.033-1.516A33.115%2033.115%200%200%201%200%20171V33C0%2014.778%2014.758%200%2032.969%200H157Zm-10%20166H32.969c-8.292%200-12.22%202.22-12.871%206.606.79%206.424%206.253%2011.394%2012.87%2011.394H147v-18Zm0-146H32.969c-7.056%200-12.8%205.65-12.965%2012.689L20%2033v114.762c3.932-1.167%208.3-1.762%2012.969-1.762H147V20Z%27%2F%3E%3Cpath%20d%3D%27M64.022%20126c-4.107%200-7.304-1.143-9.591-3.428-2.287-2.285-3.431-5.48-3.431-9.583l.14-63.978c0-4.197%201.12-7.415%203.36-9.653C56.74%2037.119%2059.916%2036%2064.023%2036c4.2%200%207.398%201.12%209.592%203.358%202.193%202.238%203.29%205.456%203.29%209.653l-.14%2055.584h34.166c3.547%200%206.277.91%208.19%202.728%201.915%201.819%202.871%204.454%202.871%207.905%200%203.45-.956%206.109-2.87%207.974-1.914%201.865-4.644%202.798-8.191%202.798H64.022Z%27%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E" media="(prefers-color-scheme: light)">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= lookbook_asset_tags("app") %>
  
  <title><%= @config.project_name %></title>
</head>
<body>
  <%= content_for?(:body) ? yield(:body) : yield %>
</body>
</html>