<%
line_numbers ||= false
language ||= "html"
wrap ||= nil;
%>
<% code ||= capture do %><%= yield %><% end %>
<div class="code not-prose <%= "numbered" if line_numbers %> <%= classes ||= "" %>"
  x-data="code"
  :class="{'wrapped': wrap}"
  <% if wrap.present? %>x-effect="wrap = <%= wrap %>"<% end %>
>
  <pre><code class="highlight"><%= highlight(code.strip, language, line_numbers: line_numbers) %></code></pre>
</div>