<div id="drawer" class="bg-white w-full h-full flex flex-col min-w-0">
  <div class="pl-4 border-b border-gray-300 select-none flex-none" x-show="!drawerHidden">
    <div class="flex cursor-auto relative">
      <div
        id="inspector-tabs-<%= example.id %>"
        x-data="tabs"
        class="min-w-0 -mb-px"
        x-effect="$store.inspector.drawer.visibleTabCount = visibleTabCount"
      >
        <nav x-ref="tabs" class="flex h-10 space-x-8 flex-grow pr-8">
          <% panels.each.with_index(1) do |(key,props),i| %>
            <a
              id="inspector-tab-<%= key %>-<%= example.id %>"
              href="#inspector-panel-<%= key %>"
              class="whitespace-nowrap pt-2.5 pb-1.5 px-1 border-b-2 cursor-pointer <%= "!text-gray-300" if props[:disabled] %>"
              :class="{
                'border-indigo-400': isActiveDrawerPanel('<%= key %>'),
                'border-transparent text-gray-500 hover:text-gray-700': !isActiveDrawerPanel('<%= key %>'),
                'invisible': (<%= i %> > visibleTabCount)
              }"
              @click.stop.prevent="switchDrawerPanel('<%= key %>')"
              <% if props[:hotkey] %>data-hotkey="<%= props[:hotkey] %>"<% end %>
            >
              <%== props[:label] %>
            </a>
          <% end %>
          <div
            x-ref="toggle"
            x-show="visibleTabCount !== tabs.length"
            class="flex-none absolute top-[9px]"
            :style="`left: ${tabsWidth - 48}px`"
          >
            <button class="py-1 px-2 text-gray-500 hover:text-indigo-800">
              <%= icon "chevrons-right", size: 3.5 %> 
            </button>
          </div>
        </nav>
        <nav class="hidden">
          <div x-ref="dropdown" class="min-w-[120px]">
            <% panels.each.with_index(1) do |(key,props),i| %>
              <template id="inspector-dropdown-tab-<%= key %>-<%= example.id %>" x-if="<%= i %> > $store.inspector.drawer.visibleTabCount">
                <div :class="{'border-t border-gray-300': (<%= i %> > $store.inspector.drawer.visibleTabCount + 1)}">
                  <a
                    href="#inspector-panel-<%= key %>"
                    class="block whitespace-nowrap py-2 px-4 border-l-2 cursor-pointer <%= "!text-gray-300" if props[:disabled] %>"
                    :class="{
                      'border-indigo-400': $store.inspector.drawer.panel === '<%= key %>',
                      'border-transparent text-gray-500 hover:text-gray-700': $store.inspector.drawer.panel !== '<%= key %>',
                    }"
                    @click.stop.prevent=" hideDropdown(); switchDrawerPanel('<%= key %>')"
                  >
                    <%== props[:label] %>
                  </a>
                </div>
              </template>
            <% end %>
          </div>
        </nav>
      </div>
      <div class="flex items-center bg-white border-l border-gray-200 ml-auto space-x-3 px-3">
        <div>
          <% panels.each do |key, props| %>
            <div
              ref="<%= "inspector-panel-#{example.id}-#{key}-copy" %>"
              class="flex items-center"
              :class="{'pointer-events-none opacity-30': <%= !props[:copy].present? %>}"
              x-show="isActiveDrawerPanel('<%= key %>')"
              x-cloak>
              <%= component "copy-button",
                target: "inspector-panel-#{example.id}-#{key}-clipboard",
                disabled: !props[:copy].present? %>
            </div>
          <% end %>
        </div>
        <button
          x-tooltip.theme.lookbook="`${horizontal ? 'pin drawer on right' : 'pin drawer on bottom'}`"
          @click="toggleOrientation"
          :class="{'pointer-events-none opacity-30': !canBeVertical}"
        > 
          <%= icon "${horizontal ? 'sidebar' : 'credit-card'}",
            size: 4,
            class: "scale-[-1] text-gray-400 hover:text-indigo-800" %>
        </button>
        <button
          x-tooltip.theme.lookbook="`hide drawer`"
          @click="toggleDrawer"
        > 
          <%= icon "x-circle",
            size: 4,
            class: "text-gray-400 hover:text-indigo-800" %>
        </button>
      </div>
    </div>
  </div>
  <div class="bg-white relative flex-grow">
    <% panels.each do |key, props| %>
      <div
        class="h-full w-full absolute inset-0"
        x-show="isActiveDrawerPanel('<%= key %>')"
        x-cloak
      >
        <div id="inspector-panel-<%= example.id %>-<%= key %>" class="h-full">
          <%= render props[:template],
            key: key,
            examples: examples,
            clipboard_id: "inspector-panel-#{example.id}-#{key}-clipboard",
            **props %>
        </div>
      </div>
    <% end %>
  </div>
</div>