<div id="<%= id %>" x-data="embed" class="not-prose embed border border-gray-300 rounded-md overflow-hidden" @page:morphed.window="resize" @iframe:resized.window="onIframeResized">
  <header class="px-3 py-2 flex items-center text-xs text-gray-400 bg-white border-b border-gray-300">
    <div class="text-gray-500">
      <%= example.preview.label %> (<%= example.label %>)
    </div>
    <div class="ml-auto flex items-center space-x-3">
      <a href="<%= lookbook.show_path(example.path, params) %>" class="" x-tooltip.theme.lookbook="`View in Inspector`">
        <%= icon "eye", size: 4, class: "hover:text-indigo-800" %>
      </a>
      <a
        href="<%= lookbook.preview_path(example.path, params) %>"
        target="_blank"
        class="-top-px relative"
        x-tooltip.theme.lookbook="`Open in new window`">
        <%= icon "external-link", size: 4, class: "hover:text-indigo-800" %>
      </a>
    </div>
  </header>
  <div class="checked-bg overflow-hidden">
    <div x-ref="resizer" class="grid bg-white relative grid-cols-[1fr_17px] w-full" :style="`max-width: ${maxWidth}; height: ${height ? `${height}px` : 'auto'}`">
      <iframe seamless
        x-ref="iframe"
        src="<%= lookbook.preview_path(example.path, params.merge(lookbook_embed: true)) %>"
        class="min-w-full h-full w-px"
        :class="{ 'pointer-events-none': reflowing }"
        @load="resize">
      </iframe>
      <div
        class="resize-handle border-r border-l cursor-[col-resize] relative -right-px"
        @pointerdown="onResizeWidthStart"
        @dblclick="toggleFullWidth">
        <svg class="h-4 w-4 pointer-events-none" fill="currentColor" viewBox="0 0 24 24">
          <path d="M8 5h2v14H8zM14 5h2v14h-2z"></path>
        </svg>
      </div>
    </div>
  </div>    
</div>
