
<div id="<%= id %>" x-data="embed" class="not-prose embed border border-gray-300 rounded-md overflow-hidden <%= "embed-breakout" if opts[:breakout] %>">
  <header class="px-3 py-2 flex items-center text-xs text-gray-400 bg-white border-b border-gray-200">
    <div class="">
      <%= preview.label %> / <%= example.label %>
    </div>
    <div class="ml-auto">
      <a href="<%= lookbook.show_path(example.path, params) %>" class="flex items-center group">
        <span class="group-hover:underline mr-1">view full preview</span>
        <%= icon "arrow-right-circle", size: 3.5 %>
      </a>
    </div>
  </header>
  <div class="checked-bg overflow-hidden">
    <div x-ref="resizer" class="grid bg-white relative grid-cols-[1fr_17px] w-full" :style="`max-width: ${maxWidth}`">
      <iframe seamless
        x-ref="iframe"
        src="<%= lookbook.preview_path(example.path, params.merge(lookbook_timestamp: Time.now, lookbook_embed: true)) %>"
        class="w-full h-full"
        :class="{ 'pointer-events-none': reflowing }">
      </iframe>
      <div
        class="resize-handle border-r border-l cursor-[col-resize] relative -right-px"
        @pointerdown="onResizeWidthStart"
        @dblclick="toggleFullWidth">
        <svg class="h-4 w-4 pointer-events-none" fill="currentColor" viewBox="0 0 24 24">
          <path d="M8 5h2v14H8zM14 5h2v14h-2z"></path>
        </svg>
      </div>
    </div>
  </div>    
</div>
