<li key="<%= node.id %>" class="<%= classes %>">
  <div id="nav-group-<%= node.id %>" x-data="navGroup" :class="{hidden}" x-cloak>
    <div @click="toggle" class="nav-toggle py-[5px]" style="padding-left: calc((<%= node.hierarchy_depth - 1 %> * 12px) + 0.75rem);">
      <%= icon "${open ? 'chevron-down' : 'chevron-right'}", size: 3, class: "mr-1 text-gray-500" %>
      <%= icon node.type == :preview ? "layers" : "folder", size: 3.5, class: "mr-1.5 text-indigo-500" %>
      <div class="nav-label <%= "font-bold" if node.type == :preview %>" <% if node.type == :preview %> @click.stop="toggle(); navigateToFirstChild()"<% end %>>
        <%= node.label %>
      </div>
    </div>
    <ul x-ref="items" x-show="open" x-cloak>
      <%= yield %>
    </ul>
  </div>
</li>