<%
value = params.key?(param[:name]) ? params[param[:name]] : param[:default]
%>
<div
  ref="<%= @example.id %>-param-<%= param[:name] %>-input"
  class="px-4 py-3"
>
  <div class="flex items-start max-w-[800px]">
    <div class="flex-none py-2" :style="`width: ${horizontal ? '200' : '120' }px`">
      <label for="param-<%= param[:name] %>" class="font-bold">
        <%= param[:name].titleize %>
      </label>
    </div>
    <div class="flex-grow">
      <%= render "lookbook/inputs/#{param[:input]}",
        **param,
        value: value
      %>
    </div>
  </div>
</div>