<div id="preview" class="grid grid-rows-[40px_1fr]">
  <%= component "header" do %>
    <div
      id="preview-tabs-<%= @example.id %>" class="min-w-0 -mb-px">
      <nav class="flex h-10 space-x-8 flex-grow pr-8">
      <% panels.each do |key, props| %>
          <a
            id="preview-tab-<%= key %>-<%= @example.id %>"
            href="#preview-panel-<%= key %>"
            class="whitespace-nowrap pt-2.5 pb-1.5 px-1 border-b-2 cursor-pointer"
            :class="{
              'border-indigo-400': isActivePreviewPanel('<%= key %>'),
              'border-transparent text-gray-500 hover:text-gray-700': !isActivePreviewPanel('<%= key %>'),
            }"
            @click.stop.prevent="switchPreviewPanel('<%= key %>')"
            <% if props[:hotkey] %>data-hotkey="<%= props[:hotkey] %>"<% end %>
          >
            <%== props[:label] %>
          </a>
        <% end %>
      </nav>
    </div>
    <div class="flex items-stretch h-full ml-auto space-x-3">
      <div
        class="flex items-center text-xs font-mono text-gray-700 space-x-1 opacity-50 hover:opacity-100 transition"
        :class="{'opacity-100': $store.inspector.preview.resizing}"
        x-show="isActivePreviewPanel('preview')">
        <span x-text="`${preview.width}px`"></span>
        <span class="text-gray-500">x</span>
        <span x-text="`${preview.height}px`"></span>
      </div>
      <div class="flex items-center bg-white border-l border-gray-200 space-x-3 text-gray-400 divide-x divide-gray-300 px-3">
        <div class="flex items-center space-x-3">
          <% if feature_enabled? :pages %>
            <%= component "copy-button",
              icon: :code,
              target: "pages-embed-code",
              tooltip: "Copy page embed code" %>
            <div id="pages-embed-code" class="hidden">
              &lt;%= embed <%= @preview.preview_class %>, :<%= @example.name %>, params: <%= request.query_parameters.deep_symbolize_keys.to_s %> %&gt;
            </div>
          <% end %>
          <button
            x-tooltip.theme.lookbook="`Refresh preview`"
            @click.prevent.stop="refresh"
            data-hotkey="r">
              <%= icon "refresh-cw", size: 3.5, class: "hover:text-indigo-800" %>
          </button>
          <a
            href="<%= preview_path %>"
            target="_blank"
            x-tooltip.theme.lookbook="`Open in new window`"
            data-hotkey="w">
              <%= icon "external-link", size: 4, class: "hover:text-indigo-800" %>
          </a>
          <button
            x-tooltip.theme.lookbook="`${drawerHidden ? 'show' : 'hide'} drawer`"
            @click="toggleDrawer"
            x-show="drawerHidden"
            data-hotkey="i"> 
              <%= icon "${horizontal ? 'credit-card' : 'sidebar'}", size: 4, class: "hover:text-indigo-800 scale-[-1]" %>
          </button>
        </div>
        
      </div>
    </div>
  <% end %>
  <div class="bg-white relative flex-grow">
    <% panels.each do |key, props| %>
      <div class="h-full w-full absolute inset-0" x-show="isActivePreviewPanel('<%= key %>')" x-cloak>
        <div id="preview-panel-<%= example.id %>-<%= key %>" class="h-full">
          <%= render props[:template], key: key, examples: examples, **props %>
        </div>
      </div>
    <% end %>
  </div>
</div>