<div
  x-data="sidebar"
  @page:morphed.window="setActiveNavItem"
  class="h-full bg-gray-100 overflow-hidden flex flex-col relative"
  x-show="$store.sidebar.open"
  x-cloak>

  <div class="bg-white h-10 border-b border-gray-300 flex flex-none items-center relative pl-4 pr-4">
    <%= component "branding" %>
    <button class="flex-none flex items-center ml-auto" @click="$store.sidebar.toggle">
      <%= icon "menu", size: 4, class: "text-indigo-500 transition" %>
    </button>
  </div>
  
  <% if feature_enabled?(:pages) && Lookbook.pages.any? %>
    <div
      class="grid overflow-hidden flex-grow"
      :style="`grid-template-rows: ${$store.sidebar.panelSplits[0] || 1}fr 1px ${$store.sidebar.panelSplits[1] || 1}fr;`"
      x-ref="sidebarPanels">
      <div class="flex flex-col overflow-hidden">
        <div class="flex items-center flex-none border-b border-gray-300 h-10 bg-white relative px-4">   
          <h2 class="whitespace-nowrap relative">Previews</h2>
        </div>
        <div x-ref="filter" class="px-2 py-2 relative" x-cloak>
          <%= component "filter" %> 
        </div>
        <div class="flex-grow pb-3 overflow-auto">
          <%= component "nav", items: Lookbook.previews.as_tree, filterable: true %>
        </div>
      </div>
      <div
        x-data="splitter('horizontal', {minSize: 40})"
        class="w-full gutter border-t border-gray-300 relative"
        x-effect="setSplits(splits)">
        <div class="h-[11px] w-full bg-transparent hover:bg-indigo-100 hover:bg-opacity-20 transition absolute left-0 right-0 -translate-y-1/2 cursor-[row-resize]"></div>
      </div>
      <div class="flex flex-col overflow-hidden">
        <div class="flex items-center flex-none border-b border-gray-300 h-10 bg-white relative px-4">   
          <h2 class="whitespace-nowrap relative">Pages</h2>
        </div>
        <div class="flex-grow pt-2 pb-3 overflow-auto">
          <%= component "nav", items: Lookbook.pages.as_tree, filterable: false %>
        </div>
      </div>
    </div>
  <% else %>
    <div x-ref="filter" class="px-2 py-2 relative" x-cloak>
      <%= component "filter" %> 
    </div>
    <div class="flex-grow overflow-y-auto unsectioned">
      <%= component "nav", items: Lookbook.previews.as_tree, filterable: true %>
    </div>
  <% end %>

  <% if Lookbook::Preview.errors.any? %>
    <div class="flex-none" x-ref="preview-errors" id="preview-errors">
      <div class="flex items-center border-b border-t border-gray-300 h-10 bg-white px-4">   
        <h2 class="flex items-center flex-none">
          <%= icon "alert-triangle", size: 4, class: "text-red-700" %>
          <span class="ml-2" >Errors</span>
        </h2>
      </div>
      <div class="h-full max-h-[300px] overflow-hidden">
        <%= component "errors", errors: Lookbook::Preview.errors %>
      </div>
    </div>
  <% end %>

</div>