<%= tag.div **html_attrs, class: "border border-gray-300 rounded my-6 shadow-sm" do %>
  <h3>
    <a href="#<%= id %>" class="no-underline block pl-4 pr-10 py-2 group relative border-b border-gray-300 ">
      <code class="inline-flex items-center text-indigo-700 font-semibold">
        <span class="font-normal opacity-60"><%= scope == "class" && klass.present? ? "#{klass}." : "#" %></span>
        <span class=""><%= signature_call %></span>
        <span class="font-normal opacity-80">
          <% if signature_args.present? %>
            <strong>(</strong><%= signature_args %><strong>)</strong>
          <% end %>
        </span>
      </code>
      <% if return_types.present? %>
        <code class="mx-2 inline-block text-gray-500 opacity-80">&rarr; <%== return_types %></code>
      <% end %>
      <span class="absolute right-3.5 top-[13px] hidden group-hover:block">
        <%= icon :link, size: 3.5, class: "rounded-md transition opacity-40 hover:opacity-100 transition" %>
      </span>
    </a>
  </h3>
  <div class="space-y-4 p-4 bg-gray-50 ">
    <% if description != false %>
      <div class="prose">
        <% if description.present? %>
          <%= markdown description %>
        <% elsif description.nil? %>
          <%= markdown "_No description available._" %>
        <% end %>
      </div>
    <% end %>
    <% if params.any? %>
      <%= render LookbookDocs::ApiParamsList::Component.new(params: params, options: options) %>
    <% end %>
  </div>
<% end %>