<%= render component_tag(
  id: id,
  x: {data: "viewport(#{id.to_json})"},
  class: {"resize-x": resize_x?, "resize-y": resize_y?, "bg-checked": true}
) do %>
  <div
    x-ref="wrapper"
    class="viewport-wrapper"
    :style="`max-width: ${maxWidth}; max-height: ${maxHeight};`">

    <div
      class="viewport-dimensions"
      x-ref="dimensions"
      x-show="resizing"
      x-cloak
      x-transition:enter.opacity.duration.300ms
      x-transition:leave.opacity.duration.500ms.delay.600ms>
      <span x-text="displayWidth"></span>
      <span>x</span>
      <span x-text="displayHeight"></span>
    </div>

    <div class="viewport-resizer" x-ref="resizer" :style="`max-height: ${maxHeight};`">
      <iframe seamless
        x-ref="iframe"
        class="viewport-window"
        :class="{inert}"
        src="<%= src %>"
        frameborder="0"
        title="viewport window"></iframe>
      <% if resize_x? %>
        <div
          class="viewport-handle viewport-handle-x"
          @pointerdown="onResizeWidthStart"
          @dblclick="toggleFullWidth">
          <%= lb_icon :grip_vertical, class: "viewport-handle-icon" %>
        </div>
      <% end %>
      <% if resize_y? %>
        <div
          class="viewport-handle viewport-handle-y"
          @pointerdown="onResizeHeightStart"
          @dblclick="toggleFullHeight">
          <%= lb_icon :grip_horizontal, class: "viewport-handle-icon" %>
        </div>
      <% end %>
      <% if resize_y? && resize_x? %>
        <div
          class="viewport-handle viewport-handle-xy"
          x-on:pointerdown="onResizeStart"
          x-on:dblclick="toggleFullSize">
          <%= lb_icon :grip_vertical, class: "viewport-handle-icon" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>