<% @target.scenarios_with_output do |scenario, html| %>
  <!-- lookbook:scenario:<%= scenario.uuid %> -->
  <% if @target.scenarios.many? %>
    <section style="margin-bottom: 2rem;">
      <header style="margin-bottom: 0.5rem;">
        <span style="display: inline-block; margin-right: 0.3rem;"><%= scenario.label %></span>
        <a style="font-size: 0.8rem;" href="<%= scenario.preview_path %>" target="_blank">[open in new window]</a>
      </header>
      <div>
        <%= html %>
      </div>
    </section>
  <% else %>
    <%= html %>
  <% end %>
<% end %>