<%= tag.div **html_attrs do %>
  <div class="not-prose mb-4">
    <h3 id="method-<%= name.gsub("_", "-") %>" class="font-bold text-lg text-indigo-600">
        <%= title %>
    </h3>
    <% if purpose %>
      <div class="mt-3 prose">
        <%= markdownify purpose %>
      </div>
    <% end %>
  </div>
  <div class="prose space-y-6">
   <% if description %>
      <div class="italic opacity-70">
        <%= markdownify description %>
      </div>
    <% end %>
    <div class="method-signature-detail">
      <% if display_signature %>
        <div class="method-signature">
          <%= markdownify signature %>
        </div>
      <% end %>
      <% if options_list %>
        <%= options_list %>
      <% end %>
    </div>
    <% if example %>
      <div class="method-example">
        <%= markdownify example %>
      </div>
    <% end %>
  </div>
<% end %>