<%= tag.div **html_attrs do %>
  <div class="not-prose">
    <h3 id="object-<%= name.gsub("_", "-") %>" class="font-bold text-lg text-indigo-600 mb-4">
        <%= title %>
    </h3>
  </div>   
  <div class="prose space-y-6">
    <% if description %>
      <div>
        <%= markdownify description %>
      </div>
    <% end %>
    <% if methods_list %>
      <%= methods_list %>
    <% end %>
    <% if example %>
      <div>
        <%= markdownify example %>
      </div>
    <% end %>
  </div>
<% end %>