<%= render component_tag(
  class: {"with-footer": footer?},
  x: {
    data: "page",
    "@page-load:complete.document": "scrollToTarget"
  }) do %>
  <article class="page-content-wrapper">
    <div class="page-content">
      <% if header? %>
        <div class="page-header-wrapper page-slat">
          <header class="page-header page-container">
            <h1 class="page-title"><%= title %></h1>
            <div class="page-status">
              <% if status %>
                <%= lb_badge(color: status.color, label: status.label) %>  
              <% end %>  
            </div>
          </header>
        </div>
      <% end %>
      
      <div class="page-body-wrapper page-slat">
        <section class="page-body page-container">
          <%= lb_prose(markdown: markdown?) { content } %>
        </section>
      </div>
    </div>
  </article>
  
  <% if footer? %>
    <div class="page-footer-wrapper">
      <footer class="page-footer">
        <nav class="page-nav-links">
          <% if previous_page %>
            <%= link_to previous_page.url_path, class: "page-nav-link page-nav-link-previous" do %>
              <%= lb_icon :arrow_left %>
              <%= previous_page.label %>
            <% end %>
          <% end %>

          <% if next_page %>
            <%= link_to next_page.url_path, class: "page-nav-link page-nav-link-next" do %>        
              <%= next_page.label %>
              <%= lb_icon :arrow_right %>
            <% end %>
          <% end %>
        </nav>
      </footer>
    </div>
  <% end %>
<% end %>