<%
path = show_path leaf.path
display ||= :leaf
%>
<li x-data="navLeaf" :class="{hidden}" x-init="matchers = <%= leaf.matchers.to_json %>; path = '<%= path %>'; setActive()" @popstate.window="setActive">
  <a href="<%= path %>"
    class="pr-3 py-[5px] flex items-center w-full group transition hover:bg-gray-200 hover:bg-opacity-50"
    style="<%= nav_padding_style(depth) %>"
    :class="{'!bg-indigo-100':active}"
    @click.stop.prevent="navigate"
  >
    <div class="relative w-3.5 h-3.5 mr-1.5 <%= "ml-[3px]" if display == :node %> " :class="active ? 'text-gray-900' : 'text-indigo-500'">
      <svg class="feather flex-none group-hover:text-indigo-800 transition w-3.5 h-3.5">
        <use xlink:href="/lookbook-assets/feather-sprite.svg#<%= display == :node ? "layers" : "eye" %>" />
      </svg>
    </div>
    <div class="truncate whitespace-nowrap <%= "font-bold" if display == :node %>">
      <%= leaf.label %>
    </div>
  </a>
</li>