<%= tag.public_send tag_name,
  **html_attrs,
  id: id,
  class: [
    html_attrs[:class],
    "relative group mb-6",
    ("h-0 invisible pointer-events-none !m-0" if hidden?),
  ] do %>  
  <span class="flex items-center relative">
    <a
      href="#<%= id %>"
      class="no-underline font-bold p-1 absolute left-0 -translate-x-full top-[6px] lg:top-[4px] hidden group-hover:block">
      <%= icon :link,
        class: "w-[0.85rem] h-[0.85rem] lg:w-4 lg:h-4 rounded-md transition opacity-40 hover:opacity-100 transition relative left-px lg:-left-px",
        html: {style: "none"} %>
    </a>
    <% unless step.nil? %>
      <span class="block py-1 px-2 leading-none bg-indigo-100 text-indigo-700 font-mono rounded-md mr-2" style="font-size: 0.7em"><%= step %></span>
    <% end %>
    <span><%= content %></span>
  </span>
<% end %>