<!DOCTYPE html>
<html data-theme="<%= @display_options.color_scheme %>">
<head>
  <title><%= @preview.label %> : <%= @target.label %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "pico.css" %>
  <style>
    body {
      padding: 1rem;
    }

    [data-theme="light"],
    [data-theme="light"] body {
      background-color: #fff;
    }

    [data-theme="dark"],
    [data-theme="dark"] body {
      background-color: #13171f;
    }
  </style>
</head>
<body>
  <div style="max-width: <%= @display_options.max_width %>">
    <%= yield %>
  </div>
</body>
</html>