<%= lookbook_panel(**args, x: {data: "paramsPanel"}, data: {panel: "params"}) do %>
  <% if editables.any? %>
    <div class="params-panel-table">
      <table>
        <thead>
          <tr>
            <th class="param-label">Name</th>
            <th class="param-name">Param</th>
            <th class="param-description">Info</th>
            <th class="param-editor">Edit</th>
          </tr>
        </thead>
        <tbody>
          <% editables.each do |editable| %>
          <tr @keydown.stop>
            <td class="param-label">
              <%= editable[:param].label %>
            </td>
            <td class="param-name">
              <code><%= editable[:param].name %></code>
            </td>
            <td class="param-description">
              <%= editable[:param].description || raw("&mdash;") %>  
            </td>
            <td class="param-editor">
              <%= lookbook_param_editor(editable[:param], value: editable[:value]) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>  
<% end %>
