<%= tag.div **html_attrs do %>
  <% if description.present? %>
    <div class="prose">
      <%= markdown description %>
    </div>
  <% end %>
  <div>
    <% method_groups.each_with_index do |group, i| %>
      <section class="<%= class_names({
          "pt-8": group != method_groups.first,
          "pb-8 border-b border-gray-300": group != method_groups.last
        }) %>">
        <% toc.push(group) %>
        <h2 class="font-bold text-xl mb-6" id="<%= group[:id] %>"><%= group[:label] %></h2>
        <div class="space-y-6">
          <% group[:methods].each do |method| %>
            <% toc.push({
              label: method[:name],
              id: method[:id],
              level: 3
            }) %>
            <%= render LookbookDocs::ApiMethod::Component.new(**method) %>
          <% end %>  
        </div>
      </section>
    <% end %>
  </div>
<% end %>