<h2><%= @collection.label %></h2>

<h2>Errors: <%= @collection.errors.count %></h2>

<%= @collection.errors.map(&:message).join("<br>").html_safe %>

<h2>Warnings: <%= @collection.warnings.count %></h2>

<%= @collection.warnings.map(&:message).join("<br>").html_safe %>
