<%= render component_tag(id: id, x: {data: "pane"}) do %>
  <div class="pane-toolbar">
    <h3 class="pane-title">
      <%= title %>
    </h3>
        
    <sl-button-group label="<%= label %> actions">
      <%= safe_join(actions.reverse) %>
    </sl-button-group>
  </div>

  <div class="pane-content">
    <%= content %>
  </div>
<% end %>
