<%= lookbook_panel(**args, x: {data: "codePanel"}, data: {panel: "code"}) do |panel| %>
  <% panel.with_action do %>
    <sl-copy-button from="<%= copy_target_id %>"></sl-copy-button>
  <% end %>
  
  <div class="code-panel-code">
    <%= lookbook_code(content, language: language) %>
  </div>
  <pre class="code-panel-raw"><code id="<%= copy_target_id %>"><%= copy_source.to_s %></code></pre>
<% end %>