<% flat ||= false %>
<ul id="nav-<%= flat ? "flat" : "nested" %>" class="select-none <%= "divide-y divide-gray-300" if depth == 0 %>" @document:updated.document="$el.innerHTML = $event.detail.doc.getElementById('nav-<%= flat ? "flat" : "nested" %>').innerHTML">
  <% items.each do |item| %>
    <li
      class="<%= "py-2" if depth == 0 %>"
      x-data="{id: '<%= item[:name] %>'}"
      <% if item[:type] == :preview %>x-show="!$store.nav.filter || id.toLowerCase().includes($store.nav.filter.toLowerCase())"<% end %>>
      <div class="flex items-center cursor-pointer pr-3 py-[3px]" @click="open[id] = !open[id]" style="padding-left: calc((<%= depth %> * 12px) + 0.5rem)">
        <svg class="feather w-3 h-3 mr-1 text-gray-500 flex-none">
          <use xlink:href="#chevron-down" x-show="open[id]" x-cloak />
          <use xlink:href="#chevron-right" x-show="!open[id]" />
        </svg>
        <svg class="feather h-3.5 w-3.5 mr-1.5 flex-none text-indigo-500">
          <use xlink:href="#<%= item[:type] == :group ? "folder" : "layers" %>" />
        </svg>
        <div class="truncate whitespace-nowrap text-left <%= "font-bold" if item[:type] == :preview %>"<% if flat %> style="direction: rtl;"<% end %>>
          <%= item[:label] %>
        </div>
      </div>
      <div x-show="open[id]" x-cloak>
        <% if item[:type] == :group %>
          <%= render "partials/nav", item %>
        <% else %>
          <ul class="mb-1">
            <% item[:examples].each do |example| %>
              <li x-data="{path: '<%= preview_path(example[:path]) %>'}">
                <a
                  :href="path"
                  class="pr-3 py-[3px] flex items-center w-full group transition hover:bg-gray-200 hover:bg-opacity-50"
                  :class="{'!bg-indigo-100': location === path}"
                  style="padding-left: calc((<%= depth %> * 12px) + 2rem)"
                  @click.stop.prevent="history.pushState({}, null, $event.currentTarget.href); $dispatch('popstate');"
                  >
                  <div :class="{'text-gray-900': location === path, 'text-indigo-500': location !== path}">
                    <svg class="feather w-3.5 h-3.5 mr-1.5 flex-none group-hover:text-indigo-800 transition">
                      <use xlink:href="#eye" />
                    </svg>
                  </div>
                  <div class="truncate whitespace-nowrap">
                    <%= example[:label] %>
                  </div>
                </a>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>