<div class="p-4 h-full overflow-auto bg-gray-50 space-y-6" data-morph-strategy="replace">
  <% if examples.many? %>
    <% examples.each do |example| %>
      <%= component "code", language: example[:source_lang][:name] do -%>
        <%== "#{sprintf example[:source_lang][:comment], example[:label]}\n#{example[:source]}" %>
      <% end %>
    <% end %>
  <% else %>
    <%= component "code", language: examples.first[:source_lang][:name] do -%>
      <%== examples.first[:source] %>
    <% end %>
  <% end %>
  <% if defined?(clipboard_id) %>
    <template id="<%= clipboard_id %>">
      <% examples.each do |example| -%>
        <%== example[:source] %>
      <%- end %>
    </template>
  <% end %>
</div>