<%= tag.div **html_attrs, class: [html_attrs[:class], "not-prose"] do %>
  <table>
    <tbody>
      <% params.each do |param| %>
        <% unless options_only %>
          <tr>
            <td class="w-[20%]">
              <code class="text-indigo-600"><%= param[:name] %></code>
            </td>
            <td class="w-[10%] whitespace-nowrap">
              <code class="text-gray-500 italic text-xs"><%= param[:types]&.gsub("&lt;", "<")&.gsub("&gt;", ">").tr(" ", "") %></code>
            </td>
            <td>
              <%= markdown param[:text] %>
            </td>
          </tr>
        <% end %>
        <% if param[:opts].present? %>
          <% param[:opts].each do |opt| %>
            <tr>
              <td class="w-[20%]">
                <code class="flex items-center">
                  <% unless options_only %>
                    <span class="text-gray-500 opacity-60"><%= param[:name] %>[</span>
                    <span class="text-indigo-600">:<%= opt[:name] %></span>
                    <span class="text-gray-500 opacity-60">]</span>
                  <% else %>
                    <span class="text-indigo-600"><%= opt[:name] %></span>
                  <% end %>
                </code>
              </td>
              <td class="w-[10%] whitespace-nowrap">
                <code class="text-gray-500 italic text-xs"><%= opt[:types]&.gsub("&lt;", "<")&.gsub("&gt;", ">").tr(" ", "") %></code>
              </td>
              <td>
                <%= markdown opt[:text] %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>