<%
error = error.is_a?(Lookbook::Error) ? error : Lookbook::Error.new(error)
@title = error.title
%>

<div class="flex flex-col h-screen">
  <div class="h-full bg-red-50 overflow-y-auto">
    <header class="mx-8 py-6">
      <h2 class="text-xl font-bold text-red-700"><%= error.title %></h2>
    </header>

    <div class="flex-none px-8 py-6 mb-8 border-t border-b border-red-200 bg-red-100 text-base font-mono leading-relaxed">
      <pre class="whitespace-pre-wrap font-sans leading-tight text-red-900"><%= error.message %></pre>
    </div>

    <% if error.file_name %>
      <div class="text-sm mx-8 mb-2 font-mono">
        <span><%= error.file_name %></span>
        <% if error.line_number %>
          <span>[line <strong><%= error.line_number %></strong>]</span>
        <% end %>
      </div>
    <% end %>

    <% if error.source_code %>
      <div class="mx-8 border border-red-200 max-w-screen-lg">
        <%= render_component :code,
          language: error.file_lang,
          highlight_lines: [error.source_code[:highlighted_line]],
          start_line: error.source_code[:start_line],
          line_numbers: true do %><%= h(error.source_code[:code]) %><% end %>
      </div>
    <% end %>

    <h3 class="font-bold mb-2 px-8 py-2 mt-8 sticky top-0 bg-red-50">Full stack trace:</h3>
    <div class="text-xs font-mono">
      <div class="px-8 pb-10 text-gray-400 leading-relaxed">
        <% error.backtrace.each do |line| %>
          <div class="hover:text-gray-900 transition-colors duration-100">
            <%= line %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>