<%= tag.aside **html_attrs,
  class: "text-sm border border-gray-300 rounded bg-white",
  style: "box-shadow: 1px 1px 1px rgb(0 0 0 / 10%);",
  "x-data": "{open: true}" do %>
  <h4
    class="p-2 px-3 text-xs uppercase tracking-wide border-dashed border-b border-gray-300 flex items-center cursor-pointer group"
    @click="open = !open" :class="open && 'border-b'">
    <span><%== title %></span>
    <!-- div class="ml-auto text-gray-600 opacity-50 group-hover:opacity-100 transition">
      <%= icon :plus_square, size: 3, html: {"x-show": "!open"} %>
      <%= icon :minus_square, size: 3, html: {"x-show": "open"} %>
    </ -->
  </h4>

  <ul class="space-y-1 px-[7px] pt-3 pb-3.5" x-show="open">
    <% links.each do |link| %>
      <li>
        <%= link %>
      </li>
    <% end %>
  </ul>     
<% end %>