<%= tag.aside **html_attrs,
  class: "text-sm border border-gray-300 rounded bg-white",
  style: "box-shadow: 1px 1px 1px rgb(0 0 0 / 10%);" do %>
  <h4
    class="pt-3 pb-1 px-3 text-xs uppercase tracking-wide flex items-center cursor-pointer group">
    <span class="font-semibold"><%== title %></span>
    <div class="ml-auto text-gray-600 opacity-50 group-hover:opacity-100 transition hidden">
      <%= icon :plus_square, size: 3, html: {"x-show": "!open"} %>
      <%= icon :minus_square, size: 3, html: {"x-show": "open"} %>
    </div>
  </h4>

  <ul class="space-y-1 px-[7px] pt-3 pb-3.5">
    <% links.each do |link| %>
      <li>
        <%= link %>
      </li>
    <% end %>
  </ul>     
<% end %>