<%
  # TODO - clean up breadcrumb generation
  spec_notes = collate_notes(@spec)
  breadcrumb_items = @spec.lookup_path.split("/")
  breadcrumb_items.pop
%>

<lb-spec heading="<%= spec_notes.heading || @spec.label %>" id="<%= @spec.lookup_hash %>">
  <lb-breadcrumb-nav slot="breadcrumb">
    <%= link_to lookbook_specs_path do %>
      <lb-icon name="layers-2"></lb-icon>
    <% end %>

    <% breadcrumb_items.each do |item| %>
      <span><%= item.titleize %></span>
    <% end %>

    <span><%= @spec.label %></span>
  </lb-breadcrumb-nav>

  <% if spec_notes.body.present? %>
    <lb-spec-section>
      <lb-prose markdown slot="notes"><%= spec_notes.body %></lb-prose>
    </lb-spec-section>
  <% end %>

  <% @spec.scenarios.each do |scenario| %>
    <% scenario_notes = collate_notes(scenario) %>

    <lb-spec-section
      heading="<%= scenario_notes.heading || scenario.label %>"
      link="<%= lookbook_scenario_path(@spec, scenario) %>"
    >
      <% if scenario_notes.body.present? %>
        <lb-prose markdown slot="notes"><%= scenario_notes.body %></lb-prose>
      <% end %>

      <lb-viewport
        src="<%= scenario.preview_path %>"
        slot="preview"
        resize="horizontal"
        persist-as="spec.scenario.viewport.<%= @spec.id %>"
      ></lb-viewport>

      <lb-snippet id="source-snippet" numbered lint>
        some code <%# = collate_source(@scenarios) %>
      </lb-snippet>
    </lb-spec-section>
  <% end %>
</lb-spec>
