<div id="inspector-tabs" class="bg-white w-full overflow-hidden flex flex-col" x-show="$store.layout.desktop">
  <div class="px-4 border-b border-gray-200 flex items-center flex-none select-none">
    <nav class="-mb-px flex space-x-8 cursor-auto">
      <% panes.each do |key, props| %>
        <a
          id="inspector-tab-<%= key %>"
          href="#inspector-content-<%= key %>"
          class="whitespace-nowrap py-2 px-1 border-b-2 cursor-pointer <%= "!text-gray-300" if props[:disabled] %>"
          :class="{
            'border-indigo-400': isActiveTab('<%= key %>'),
            'border-transparent text-gray-500 hover:text-gray-700': !isActiveTab('<%= key %>')
          }"
          @click.stop.prevent="switchTab('<%= key %>')"
          <% if props[:hotkey] %>data-hotkey="<%= props[:hotkey] %>"<% end %>
        >
          <%== props[:label] %>
        </a>
      <% end %>
    </nav>
  </div>
  <div class="flex-auto overflow-auto bg-gray-50">
    <% panes.each do |key, props| %>
      <div
        class="flex flex-col h-full relative"
        x-show="isActiveTab('<%= key %>')"
        x-cloak
      >
        <% if props[:clipboard].present? %>
          <%= render "app/clipboard" do %><%= h props[:clipboard].strip %><% end %>
        <% end %>
        <div id="inspector-content-<%= key %>" class="flex flex-col h-full overflow-auto" key="tab-<%= @example.id %>-<%= key %>">
          <%= render "app/inspector/tabs/#{props[:template]}", key: key, **props %>
        </div>
      </div>
    <% end %>
  </div>
</div>