<%= tag.header **html_attrs,
  class: "layout-container border-b border-gray-300 relative z-40" do %>
  <div class="layout-column">
    <div class="layout-content flex items-center">
      <a href="/" class="flex-none">
        <%= image "lookbook_logo.svg", class: "w-[130px]" %>
      </a>
      <span class="text-xs ml-3 relative top-[3.5px] opacity-40">
        v<%= lookbook_version %>
      </span>
    </div>
  </div>
  <div class="layout-column flex items-center !overflow-hidden">
    <nav class="layout-content">
      <% links.each do |link| %>
        <a href="<%= link[:href] %>" class="<%= "active" if link[:active] %>">
          <span><%= link[:label] %></span>
        </a>
      <% end %>
      <a href="/" target="_blank" class="flex items-center space-x-2">
        <span>Demo</span>
        <%= icon :external_link, size: 3, class: "text-gray-600" %>
      </a>
      <a href="/" target="_blank">
        <%= image "icons/brands/github.svg", class: "w-5 h-5" %>
      </a>
    </nav>
  </div>
<% end %>