<%= render component_tag(
  key: lookup_path,
  x: {
    data: "navItem({keywords: #{search_terms.to_json}, collection: #{collection?.to_json}})",
    show: "!filteredOut",
    ":aria-expanded": "expanded",
    ":aria-selected": "selected",
  },
  data: {url: url_path}
) do %>

  <div class="nav-item-item" @click.stop="visit">
    <% (1..indentation).each do %>
      <div class="nav-item-indentation"></div>
    <% end %>
    
    <div class="nav-item-toggle" @click.stop="expanded = !expanded">
      <% if collection? %>
        <button x-show="expanded">
          <%= lb_icon :chevron_down %>
        </button>
        <button x-show="!expanded">
          <%= lb_icon :chevron_right %>
        </button>
      <% end %>
    </div>
    
    <% if url_path %>
      <a href="<%= url_path %>" class="nav-item-label" @click.prevent="expanded = true">
        <%= lb_icon icon %>
        <span><%= label %></span>
      </a>
    <% else %>
      <button class="nav-item-label" @click.prevent="expanded = !expanded">
        <%= lb_icon icon %>
        <span><%= label %></span>
      </button>
    <% end %>
  </div>

  
  <% if children&.any? %>
    <div class="nav-item-children" x-show="expanded" x-ref="children">
      <% children&.each do |node| %>
        <%= render Lookbook::UI::NavItem.new(node: node) %>
      <% end %>
    </div>
  <% end %>
<% end %>