<style>
  .lookbook-preview {

  }

  .lookbook-preview--list .lookbook-preview-example {
    margin-bottom: 30px;
  }

  .lookbook-preview--grid {
    display: grid;
    grid-template-columns: repeat(<%= params[:lookbook][:display][:cols] || '3' %>, minmax(0, 1fr));
    row-gap: 30px;
  }

  .lookbook-preview-label {
    color: #999;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
  }
</style>

<% if examples.many? %>
  <div class="lookbook-preview lookbook-preview--<%= params[:lookbook][:display][:layout] || "list" %>">
  <% examples.each do |example| %>
    <div class="lookbook-preview-example">
      <h6 class="lookbook-preview-label">
        <%= example.label %>
      </h6>
      <%= example.output %>
    </div>
  <% end %>
  </div>
<% else %>
  <%# Render a single example %>
  <%= examples.first.output %>
<% end %>