<%= render component_tag(key: id, x: { data: "previewOverview" }) do %>
  <%= lb_pane(id: "#{id}-#{preview.id}-pane") do |pane| %>
    <% pane.with_title do %>
    <%= lb_icon :layers, class: "po-title-icon" %>
      <span class="po-title">
        <%= preview.label %>
      </span>
    <% end %>

    <div class="po-breadcrumbs">
      <span class="po-breadcrumb"><%= config.previews_nav_label %></span>
      <%= lb_icon :chevron_right, class: "po-breadcrumb-divider" %>
      <% breadcrumbs.each do |node| %>
        <span class="po-breadcrumb"><%= node.label %></span>
        <% unless node == breadcrumbs.last %>
          <%= lb_icon :chevron_right, class: "po-breadcrumb-divider" %>
        <% end %>
      <% end %>
    </div>

    <div class="po-content">
      <% if preview.notes? %>
        <section class="po-notes">
          <%= lb_prose { preview.notes } %>
        </section>
      <% end %>

      <section class="po-targets">
        <h4 class="po-section-title">Scenarios</h4>  
        
        <ol>
          <% targets.each do |target| %>
            <li class="po-target">
              <a href="<%= target.url_path %>">
                <%= target.label %>
              </a>
            </li>
          <% end %>
        </ol>
      </section>
    </div>
  <% end %>
<% end %>
