<div class="contents" key="<%= key %>">
  <%= lookbook_render button_component.new(
    id: id,
    icon: icon,
    **button_attrs,
    "x-on:keydown.esc.stop.document": "hideDropdown") do %>
    <%= content %>
  <% end %>

  <% if dropdown? %>
    <div data-dropdown-id="<%= id %>" hidden>
      <div class="divide-y divide-lookbook-divider text-left">
        <%= dropdown %>
      </div>
    </div>
  <% end %>
</div>
