<%= render_component_tag tag_name,
  href: @href,
  class: [
    "block bg-white text-lookbook-button-text focus:outline-none focus-visible:outline-none #{padding}",
    {
      "hover:text-lookbook-button-text-hover": !@disabled,
      "cursor-[not-allowed] opacity-50": @disabled
    }
  ],
  disabled: @disabled,
  x_effect: "$store.settings.showTooltips ? enableTooltip() : disableTooltip()",
  "@keydown.esc.stop": "hideDropdown" do %>
  <span x-ref="icon">
    <%= icon || render_component(:icon, name: @icon, size: icon_size, ":class": "{'animate-spin': _spinning}") %>
  </span>
  <% if @tooltip %>
    <label class="hidden" x-ref="tooltip"><%= @tooltip %></label>
  <% end %>
  <% if content %>
    <div x-ref="content"><%== content %></div>
  <% end %>
  <% if dropdown %>
    <div class="hidden" x-ref="dropdown">
      <div class="bg-white divide-y divide-lookbook-divider text-left">
        <%== dropdown %>
      </div>
    </div>
  <% end %>
<% end %>